{erl_opts, [
    %{d,debug},
    no_debug_info
]}.

{escript_name, "epc"}.
{escript_incl_apps, [websocket_client]}.
{escript_emu_args, "%%! +K true -config client -escript main eproxy_client\n"}. 

{deps,
    [
        {websocket_client,".*",{git,"git://github.com/jeremyong/websocket_client.git","v0.7"}}
    ]
}.
